<?xml version="1.0" encoding="UTF-8"?>
<model>
    <name>StickBot Fixed</name>
    <version>1.0</version>
    <sdf version='1.7'>stickBot_fixed.sdf</sdf>
    <author>
        <name>German Rodriguez</name>
        <email>german.rodriguez@iit.it</email>
    </author>
    <author>
        <name>Alexandre Antunes</name>
        <email>alexandre.gomespereira@iit.it</email>
    </author>
    <description>Model for the ergocub stickBot robot, with the feet fixed on the ground. For more information check icub.org</description>
</model>
